* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #74ebd5, #9face6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  background: white;
  padding: 25px;
  width: 300px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 15px;
}

.card {
  margin-top: 20px;
  background: #f2f7ff;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.temp {
  font-size: 40px;
  font-weight: bold;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: #4a6cf7;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

input {
  display: none;
}

.details {
  margin-top: 15px;
  display: none;
  font-size: 14px;
}

input:checked ~ .card .details {
  display: block;
}
